@import '~bulma/bulma';

body * + * {
	margin-top: 1.8rem;
	background: white;
}

.hero{
	background-color: #eee;
	.subtitle{
		background-color: transparent;
	}
}

pre[data-language-display]{
	background: #444;
	color: white;
	&:before {
	  content: attr(data-language-display);
		display: inline-block;
		padding: .5rem 1rem;
		background: #444;
	}
}
