@import '~bulma/bulma';

body{
	background: white;
}

body * + * {
	margin-top: 1.8rem;
}

.hero{
	background-color: #eee;
	.subtitle{
		background-color: transparent;
	}
}

[data-language-display]{
	position: relative;
	color: white;

	&:before {
	  content: attr(data-language-display);
		position: relative;
		display: inline-block;
		padding: .5rem 1rem;
		background: #000;
	}
	code{
		display: block;
		background: #eee;
		color: black;
		padding: 1rem;
		border: 1px solid black;
		&:before {
		  content: '';
			display: block;
		}
	}
}
