@import '~bulma/bulma';

body * + * {
	margin-top: 1.8rem;
}

.jumbotron{
		padding: 4rem 2rem;
		background-color: #eee;
}

pre[data-language-display]:before {
  content: attr(data-language-display);
}
